streamlit  # Ensure compatibility with streamlit-webrtc
opencv-python-headless
mediapipe
numpy
google-generativeai  # Include any other dependencies you are using
scikit-learn
streamlit-webrtc
aioice
aiortc  # WebRTC implementation in Python
